.home_slogan { 
    font-family: "Tektur", sans-serif;
    font-weight: 700;
    color: var(--branco) !important;
    text-align: center;
  }
  
.img {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}