.wrapper {
    width: calc(100% + 64px);
    /* margin-left: -32px; */
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 16px 32px;
    transform: translateX(-32px)
}

.noMargin {
    margin-top: 0;
    margin-bottom: 0;
}

.bg {
    background-color: #ECECEC;
}

@media (max-width: 768px) {
    .text {
        font-size: 24px !important;
    }
}
