.progress_line {
    height: 2px;
    width: 100%;
    background-color: var(--cinzento-claro);
}

.progress_number_wrapper {
    display: flex;
    height: 36px;
    width: 36px !important;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cinzento-claro);
    color: var(--cinzento-claro);
    border-radius: 50%;
    font-size: 16px;
    flex-shrink: 0;
}

.completed_green_line {
    background-color: var(--sucesso) !important;
}

.completed_green_number_wrapper {
    border-color: var(--sucesso);
    color: var(--sucesso);
}

.completed_green_h2 {
    color: var(--preto) !important;
}

.cursor {
    cursor: pointer !important;
}

@media (max-width: 576px) {
    .h2 {
        font-size: 14px !important;
    }
}