.header {
  color: white;
  text-align: center;
  z-index: 500;
  /* background-color: blue; */
  position: relative;
}


.inputField {
  background-color: #ECECEC !important;
  border: 0px !important;
  border-radius: 4px;
}

.inputField:focus {
  box-shadow: none !important;
} 

.inputField::placeholder {
  color:#B2B2B2 !important;
  font-style: normal !important;
  font-size: 16px !important;
}


.headerButton {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 0px 0px !important;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 500;
}

.headerButtonProdutos {
  padding: 8px 16px !important;

}

/* Wrap the hover button and the dialog */
.hoverWrapper {
  position: relative;
  overflow: visible;
}

.atuaprima {
  position: relative;
}

.hoverDialog {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  left: -16px;
  width: calc(100% + 32px) !important;
  top: calc(100% - 16px);
  transform: translateY(10px);
  transition: transform 0.8s ease, opacity 0.3s ease;
}

.hoverDialogOverhead {
  /* 10 pixels of overhead to match the under alignement of the group (so that the content container is aligned with the button
   + 4 px of gap */
  height: 16px;
  /* background-color: rgba(198, 46, 46); */
}


.hoverDialogContent {
  padding: 1rem 2rem;
  background-color: #ECECEC;
}

/* Show when hovering the wrapper */
.hoverWrapper:hover .hoverDialog {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

button {
  color: black;
  font-weight: 500;
}

.selectedButton {
  color: #B2B2B2;
}

.hoverWrapper button {
  background-color: white;
}

.hoverWrapper:hover button {
  background-color: #ECECEC;
}

.prodNavGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 52px;
}

.prodNavGroup h2 {
  color: black;
  font-weight: 600;
}

.prodNavAnchor {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 8px;
  gap: 4px;
}

.prodNavAnchor a {
  text-decoration: none;
  color: black !important;
  font-size: 16px;
}


.logo_container {
  padding: 0 !important;
  /* background-color: rgb(100, 202, 153); */
  max-width: fit-content !important;
}

.logo_container img {
  max-height: 36px;
  width: 100%;
  /* background-color: burlywood; */
}