.footer {
  background-color: var(--cinzento-muito-claro);
  width: calc(100% + 64px);
  transform: translateX(-32px);

  color: var(--preto);
  font-size: 12px;
  padding: 16px 32px;
  margin-top: 96px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.powered {
  font-size: 10px;
  color: var(--cinzento);
}

.powered a {
  color: var(--preto) !important;
}